.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 400px;
    border: 1px solid black;
}
  
.display {
    flex: 1 1 auto;
    font-size: 30px;
    text-align: right;
}